@model Museum.Models.DtoModels.ExhibitDto
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}
<div>
    <div >
        
            <div class="card-header text-center">
                @Model.Name
            </div>
            <div class="pro-img-box text-center">
                <img src="@photoPath" asp-append-version="true"
                     width="250" height="250"  />
            </div>
            <div class="panel-body text-center">
                <p>
                  @Model.Descrition  
                </p>
            </div>
       
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id}) |
        <a asp-action="Index">Назад</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index" asp-controller="Home">Назад</a>
    </div>
}